@import '../gvars/colors';

@baseFontSize: 1em;
@baseFontLeading: 1.625em;

@baseFontFamily: 'Bitter', serif;

body {
  color: @baseDark;
  font: @baseFontSize/@baseFontLeading Helvetica, Helvetica Neue, Arial;
  font-family: @baseFontFamily;
}

h1 {
}

h2 {
  color: @baseDark;
  font-size: 1.55em;
  line-height: 1.50em;
  margin: 0;
}

@media (min-width: 750px) {
  h2 {
    font-size: 2.25em;
    line-height: 1.45em;
  }
}

h3 {
  font-size: 1.25em;
  line-height: 1.50em;
  margin: 0;
}

@media (min-width: 750px) {
  h3 {
    font-size: 1.5em;
    line-height: 1.55em;
  }
}

p, a, span {
  font-size: 0.95em;
}

a {
  color: @baseDark;
  text-decoration: underline;
}
a:hover {
  color: @white;
  color: @baseDarkSecondary;
}

/**
 * Children type light: The children of this element should be white colored.
 */
.c-type--light {
  a, p, span, h1, h2, h3, h4 {
    color: @white;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    color: @baseDarkSecondary;
  }
}

.ct {
  text-align: center;
}

.logo {
  font-size: 2.5em;
  margin: 10px;
  text-align: center; // TODO use mixin
}

@media (min-width: 750px) {
  .logo {
    font-size: 3.125em;
    margin: 10px;
    text-align: left; // TODO use mixin
  }
}

/**
 * A nav ele is a link or a parent of links that should not be styled as
 * links within text, but as distinct navigation elements
 */
.nav__ele {
  text-decoration: none;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
