.cf {
  display: inline-block;
}
.cf:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* start commented backslash hack \*/
* html .cf {
  height: 1%;
}
.cf {
  display: block;
}
.a-media {
  margin: 10px;
}
.a-media--centered {
  margin: 10px auto;
}
.a-media--80 {
  width: 80%;
}
.a-media--70 {
  width: 70%;
}
.a-media__mediaImg {
  float: left;
  margin-right: 10px;
}
.a-media__mediaImg img {
  display: block;
}
.a-media__mediaBody {
  overflow: hidden;
  zoom: 1;
}
.a-media__mediaImg--switch {
  float: right;
  margin-left: 10px;
}
.a-media__mediaBody--switch {
  margin-left: 5px;
}
