
@import '../gvars/colors';

.m-navbar {
}

.m-navbar__element {
  margin-bottom: 0;
  margin-top: 1.45em;
  padding-right: 10px;
  text-decoration: none;
  a {
    text-decoration: none;
  }
}

.m-nav--secondary {
  a {
    text-decoration: none;
  }
}
