
@import '../components/bootstrap/less/bootstrap.less';

@import 'gvars/colors';

@import 'base/globals';
@import 'base/normalize.css';
@import 'base/typography.less';
@import 'util/floats';
@import 'util/spacing';

@import 'atom/media';
@import 'atom/content_box';

@import 'molecule/header';
@import 'molecule/navbar';
@import 'molecule/showcase';


.a-contentBox {
  min-height:250px;
  text-align:center;
}

h2.ct, heading h4 {
  font-size:26pt;
}

.step-number {
  background-color:#ccc;
  border-radius:20px;
  font-size:20pt;
  min-height:40px;
  margin:0 auto;
  height:40px;
  padding-top:5px;
  width:40px;
}

img.a-media__mediaImg--switch {
  display:none;
}

button.btn.btn-default {
  color:white;
  background-color:@baseDark;
  width:140px;
}
